body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg-plomo {
    background-color: #373A3C;
}

.bg-celeste {
    background-color: #17A2B8;
}

.hero {
    background: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40rem;

}