html {
  scroll-behavior: smooth;
  }

body{
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  color: #373A3C;
   
}

hr{ 
 
  height:3px;
  background:#000;
}

.navbar-brand{
  font-family: "Lobster", sans-serif;
  font-size: 37pt;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 40rem;

}

.carousel-item {
  padding: 0px !important;
}

.recipes img{
  padding: 0.6em !important;
}
.mi-lista-recetas h6{
  margin-bottom: 1.4em;

}

.carousel-item img{
   margin-left: -4px  ;
}

.mi-lista-recetas h4{
  line-height: 3em;

}

.list-group-item{
  border: none;
}

.bg-extra-dark{
  background-color: #373A3C;
}

.mi-footer{
 background-color: #DC3545;
 /*height: 534px;*/
}