@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: content-box;
}

.form {
  margin: 0 auto;
  width: 400px;
}

.header {
  background-color: white;
  padding: 60px 40px;
  border-bottom: 1px solid #CCC;
}

.header img {
  width: 48px;
  float: left;
  border-radius: 12px;
  margin-right: 10px;

}

.header h1 {
  margin-top: 8px;
  float: left;
  font-size: 28px;
  font-weight: 700;
}

.footer {
  width: 100%;
  background-color: beige;
  padding: 60px 40px;
  margin-top: 20px;
  border-top: 1px solid #CCC;
}
.footer__description {
  width: 80%;
  margin: 0 auto;
}

.footer img {
  width: 48px;
  display: block;
  float: left;
  border-radius: 12px;
  margin-right: 10px;
}

.footer h1 {
  margin-top: 8px;
  float: left;
  font-size: 28px;
  font-weight: 700;
}

.footer p {
  text-align: right;
}

.post {
  width: 80%;
  margin: 0 auto;
}

.post__posts {
  margin: 0 auto;
  width: 80%;
  background: red;
  display: flex;
  flex-wrap: wrap;
}

.post__encabezado {
  font-weight: 700;
}
.post__cuerpo {
  padding: 40px;
}
.post__imagen {
  display: block;
  margin: 30px auto;
  width: 30%;
}

.populares {
  margin: 0 auto;
  width: 80%;
  background: blueviolet;
}

.populares h2 {
  font-weight: 700;
  display: block;
}

.populares__articulos {
  float: left;
  width: 56%;
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.populares__articulo {
  width: 33%;
  /*float: left;*/
  background: orange;
}

.articulo__imagen{
  width: 100%; 
  max-height: 200px; 
  object-fit: contain; 
}

.populares__articulo p{
  color:#959595;
}

.populares__categorias {
  width: 36%;
  float: right;
  background: rgb(0, 255, 42);

}


.content--justify-start {
  justify-content: flex-start;
}

.content--direction-column {
  flex-direction: column;
}

.content--justify-center {
  justify-content: center;
}

.content--justify-end {
  justify-content: flex-end;
}

.subscription {
  padding: 2px 40px;
  margin: 0 auto;
  width: 80%;
  background-color: rgb(79, 196, 79);
}
.subscription__description {
  color: white;
  font-weight: 700;
}
.subscription__form {
  padding-bottom: 20px;
}
.subscription__input {
  width: 50% !important;
}
.subscription__button {
  float: right;
  width: 25% !important;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;
}

.button.ok {
  background-color: rgb(79, 196, 79);
  color: white;
}

.button.google {
  background-color: #FFF;
  color: black;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-color: #F0F0F0;
  border-radius: 5px;
}

.author {
  width: 100%;
  padding: 40px 0px;
}
.author__imagen {
  width: 32px;
  display: block;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}
.author__name {
  font-weight: 600;
  float: left;
}
.author__date {
  margin-left: 40px;
  float: left;
}
